// Variables
$primary-color: #4f5a40;
$secondary-color: #80ab82;
$light-color: #c2e1c2;
$medium-color: #7dcd85;
$dark-color: #342215;
$site-width: 1500px;
// Photo by Felix Mittermeier from Pexels
$bg-image: url("../img/showcase.jpg");
